html, body {
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

body {
    background-image: url('../IMG_2430.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding:0;
    margin:0;
}

.heading {
    color: black;
    text-align: center;
    font-size: 24px;
    background: white;
    padding: 15px 0px;
}

.heading a, .css-positions-link {
    text-decoration: none;
    color: black;
}

.heading a:hover, .active-link, .css-positions-link:hover {
    text-shadow: 0px 0px 5px black;
}

#page-title {
    position: absolute;
    left: 0;
    padding-left: 15px;
}

h1 {
    font-family: 'Cormorant', serif;
    text-align:center;
    font-size: x-large;
  }

  h2 {
    font-family: 'Cormorant', serif;
    text-align: ;
    font-size: 1em;
  }
  
  h3 {
    font-family: 'Parisienne', cursive;
    text-align: end;
    font-size: 1em;
  }
  p { 
    font-family: 'Cormorant', serif;
  }

  .main-content {
    margin: 0 auto;
    right: 0;
    left: 0;
    max-width: 800px;
    padding: 70px;
    background-color: rgba(230, 230, 250, 0.5);
    min-height: calc(100% - 58px - 78px);
}

  footer {
      /* position: absolute;
      bottom: 0px; */
      /* width: 100%; */
      text-align: center;
      padding: 15px 0;
      font-style: italic;
  }

  .intro-photo {
      height: auto;
      width: 150px;
      float: left;
      margin-right: 15px;
  }

  /* ABOUT ME PAGE STYLES */

  .about-me-table {
      width: 100%;
  }

  .about-me-table td {
    border: 1px solid black;
    padding: 5px;
}

.about-me-table td:first-child {
    text-align: right;
    font-weight: bold;
}

/* BLOG PAGE STYLES */

.css-photo {
  height: auto;
  width: 300px;
  float: left;
  margin-right: 15px;
  padding-top: 30px;
}

/* RESEARCH QUESTION": What are the differences between 
srelative, absolute, and fixed positioning? */

.container {
    height: 100px;
    width: 300px;
    border: 0px;
    background-color: white;
}

.square1 {
    position: static;
    height: 50px;
    width: 50px;
    border: 0px;
    background-color: black;
  }

  .square2 {
    position: relative;
    left: 30px;
    top: 30px;
    height: 50px;
    width: 50px;
    border: 0px;
    background-color: black;
  }

  .container3 {
    position: relative;
    height: 100px;
    width: 300px;
    border: 0px;
    background-color: white;
}

  .square3 {
    position: absolute;
    left: 1px;
    top: 1px;
    height: 50px;
    width: 50px;
    border: 0px;
    background-color: black;
  }

  .red-square {
    position: absolute;
    right: 5px;
    top: 30px;
    height: 50px;
    width: 50px;
    border: 0px;
    background-color: red;
  }


/* Problem solving blog */

.text-align:center {
  text-align: center;
}